{% extends "base.html" %}

{% block app_content %}
<h1>Authors</h1>
<div class="row">
    <table class="table table-hover">
        <tr>
            <td>No.</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
        </tr>
        {% for author in authors %}
        <tr>
            <td><p>{{ author.id }}</p></td>
            <td><p>{{ author.first_name }}</p></td>
            <td><p>{{ author.last_name }}</p></td>
            <td><p>{{ author.email }}</p></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
     <a href="{{ url_for('add_author') }}">Add Author</a>
 </div>
{% endblock %}
