{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - BookStore{% else %}Welcome to BookStore{% endif %}
{% endblock %}

{% block navbar %}
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('get_authors') }}">Authors</a>
                <a href="{{ url_for('get_book_types') }}">Book Types</a>
                <a href="{{ url_for('get_books') }}">Books</a>
                <a href="{{ url_for('get_customers') }}">Customers</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}