{% extends "base.html" %}

{% block app_content %}
<h1>BookTypes</h1>
<div class="row">
    <table class="table table-hover">
        <tr>
            <td>No.</td>
            <td>Name</td>
            <td>Rental Fee</td>
            <td>Custom Pricing</td>
            <td></td>
        </tr>
        {% for bt in book_types %}
        <tr>
            <td>{{ bt.id }}</td>
            <td>{{ bt.name }}</td>
            <td>${{ bt.rent_charge }}</td>
<!--            {% if bt.custom_pricing == False %}-->
<!--                <td><a href="{{ url_for('add_custom_pricing', book_type_id=bt.id) }}">Set Custom Pricing</a></td>-->
<!--            {% else %}-->
                <td>{{ bt.custom_pricing }}</td>
<!--             {% endif %}-->
            <td><a href="{{ url_for('edit_book_type', id=bt.id) }}">Edit Book Type</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
     <a href="{{ url_for('add_book_type') }}">Add Book Type</a>
 </div>
{% endblock %}
